.forgot-password-wrapper {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .top-section {
    h2 {
      font-size: 1.5rem;
      line-height: calc(1.5rem * 1.42857);
    }

    svg {
      display: block;
      width: 50%;
      height: auto;
      margin: 1rem auto;
    }

    p {
      font-size: 0.9rem;
      line-height: calc(0.9rem * 1.42857);
    }
  }

  form {
    .form-group {
      margin-bottom: 1rem;
    }

    button.mat-button-disabled {
      background-color: #3a2d7d !important;
      opacity: 0.5 !important;
      color: #fff !important;
    }

  }

  & > a {
    text-decoration: none;
    font-size: 1rem;
    display: block;
    margin-top: 2rem;
    text-align: center;
    color: #3a2d7d;
    font-weight: 700;
  }

}
