.login-wrapper {

  height: 100%;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  animation-name: comp-switch-right;
  animation-duration: 2000ms;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  & > .top-section {
    img {
      height: 6rem;
    }

    p {
      font-size: 1rem;
      line-height: calc(1rem * 1.42857);
    }
  }


  form {
    margin-top: 1rem;
    width: 100%;

    .form-group {
      margin-bottom: 1rem;
    }

    .forgot-pass-link {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1rem;
      a {
        text-decoration: none;
        color: #212121;
        font-weight: 500;
      }
    }

    button[type="submit"] {

      margin-top: 1rem;
      background-color: green !important;
      color: #fff !important;
      transition: all 1000ms 0ms ease-in-out;
      &.mat-button-disabled {
        opacity: 0.5 !important;
      }

    }

  }

  & > .bottom-section {
    margin-top: 1rem;
    text-align: center;

    p {
      font-size: 0.9rem;
      line-height: calc(0.9rem * 1.42857);

      a {
        color: #3a2d7d;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }

}

