.register-wrapper {

  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  & > .top-section {
    h3 {
      font-size: 1.5rem;
      line-height: calc(1.5rem * 1.42857);
    }
  }

  form {

    margin-top: 2rem;
    width: 100%;

    .form-group {
      margin-bottom: 1rem;
    }

    button {

      margin-top: 1rem;
      &.mat-button-disabled {
        background-color: #3a2d7d !important;
        opacity: 0.5 !important;
        color: #fff !important;
      }

    }

  }

  & > .bottom-section {
    margin-top: 1rem;
    text-align: center;

    p {
      font-size: 0.9rem;
      line-height: calc(0.9rem * 1.42857);

      a {
        color: #3a2d7d;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }

}
