<div class="main-wrapper">
  <div class="container">

    <div id="personal-details-wrapper">

      <div class="box">

        <div class="left-section">
          <h3>name:</h3>
        </div>
        <div class="right-section">
          <p>{{userdetails.name}}</p>
        </div>

      </div>

      <div class="box">

        <div class="left-section">
          <h3>email:</h3>
        </div>
        <div class="right-section">
          <p>{{userdetails.email}}</p>
        </div>

      </div>

      <div class="box">

        <div class="left-section">
          <h3>category:</h3>
        </div>
        <div class="right-section">
          <p>{{userdetails.category}}</p>
        </div>

      </div>

      <div class="box">

        <div class="left-section">
          <h3>organization:</h3>
        </div>
        <div class="right-section">
          <p>{{userdetails.organization}}</p>
        </div>

      </div>

      <div class="box">

        <div class="left-section">
          <h3>gst:</h3>
        </div>
        <div class="right-section">
          <p>{{userdetails.gst}}</p>
        </div>

      </div>

      <div class="box">

        <div class="left-section">
          <h3>contact:</h3>
        </div>
        <div class="right-section">
          <p>{{(userdetails.phone.ph1)}}</p>
        </div>

      </div>

      <div class="box">

        <div class="left-section">
          <h3>alternate contact:</h3>
        </div>
        <div class="right-section">
          <p>{{userdetails.phone.ph2}}</p>
        </div>

      </div>

      <div class="box">

        <div class="left-section">
          <h3>state:</h3>
        </div>
        <div class="right-section">
          <p>{{userdetails.state}}</p>
        </div>

      </div>

      <div class="box">

        <div class="left-section">
          <h3>country:</h3>
        </div>
        <div class="right-section">
          <p>{{userdetails.country}}</p>
        </div>

      </div>

      <div class="box">

        <div class="left-section">
          <h3>address:</h3>
        </div>
        <div class="right-section">
          <p>{{userdetails.address}}</p>
        </div>

      </div>

    </div>

    <div id="market-segment-wrapper">

      <div class="box">

        <div class="left-section">
          <h3>market segments:</h3>
        </div>
        <div class="right-section">
          <p *ngFor="let a of userdetails.marketsegments">{{a}}</p>
        </div>

      </div>

      <div class="box">

        <div class="left-section">
          <h3>FO DateTimeFrame:</h3>
        </div>
        <div class="right-section">
          <p>{{userdetails.fodtf}}</p>
        </div>

      </div>

      <div class="box">

        <div class="left-section">
          <h3>CM DateTimeFrame:</h3>
        </div>
        <div class="right-section">
          <p>{{userdetails.cmdtf}}</p>
        </div>

      </div>

      <div class="box">

        <div class="left-section">
          <h3>GREEKS DateTimeFrame:</h3>
        </div>
        <div class="right-section">
          <p>{{userdetails.greekdtf}}</p>
        </div>

      </div>

    </div>

    <div id="payment-details-wrapper">

      <div class="box">

        <div class="left-section">
          <h3>payment date:</h3>
        </div>
        <div class="right-section">
          <p>{{userdetails.paymentDate.toLocaleString().split(',')[0]}}</p>
        </div>

      </div>

      <div class="box">

        <div class="left-section">
          <h3>payment UTR:</h3>
        </div>
        <div class="right-section">
          <p>{{userdetails.paymentutr}}</p>
        </div>

      </div>

      <div class="box">

        <div class="left-section">
          <h3>current:</h3>
        </div>
        <div class="right-section">
          <p>{{userdetails.paymentType}}</p>
        </div>

      </div>

      <div class="box">

        <div class="left-section">
          <h3>Payment Amount:</h3>
        </div>
        <div class="right-section">
          <p>{{userdetails.paymentAmt}}</p>
        </div>

      </div>

    </div>

    <div id="doc-type-wrapper">

      <div class="box">

        <div class="left-section">
          <h3>file name:</h3>
        </div>
        <div class="right-section">
          <p>{{userdetails.docname}}</p>
        </div>

      </div>

      <div class="box">

        <div class="left-section">
          <h3>file category:</h3>
        </div>
        <div class="right-section">
          <p>{{userdetails.docType}}</p>
        </div>

      </div>

    </div>

    <div id="button-wrapper">

      <button mat-raised-button [color]="'primary'" type="button" [routerLink]="['/client', 'status']">Confirm</button>

    </div>

  </div>
</div>
