.main-wrapper {
  padding: 2rem 0;

  .container {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    border: 2px solid #3a2d7d;
    border-radius: 0.5rem;

    #personal-details-wrapper,
    #market-segment-wrapper,
    #payment-details-wrapper,
    #doc-type-wrapper {

      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      & > .box {
        width: 50%;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > * {
          width: 50%;
        }

        .left-section {
          h3 {
            font-size: 1.1rem;
            text-transform: capitalize;
            margin-bottom: 0;
          }
        }

        .right-section {
          p {
            font-size: 1.1rem;
            margin-bottom: 0;
          }
        }


        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }

    #button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: 768px) {
        & > *:first-child {
          margin-right: 2rem;
        }
      }

      @media (max-width: 767px) {
        flex-direction: column;
        & > *:first-child {
          margin-right: 0;
          margin-bottom: 2rem;
        }
      }
    }

  }
}
