<div class="main-wrapper">
  <div class="container">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-accordion [multi]="false">

        <mat-expansion-panel [expanded]="true" #a1>

          <mat-expansion-panel-header>

            <mat-panel-title>
              <h2>Personal Details</h2>
            </mat-panel-title>

            <mat-panel-description>
              <mat-icon>
                {{a1.expanded ? 'remove' : 'add'}}
              </mat-icon>
            </mat-panel-description>

          </mat-expansion-panel-header>

          <div id="personal-details">

            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput [formControlName]="'name'">

            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput [formControlName]="'email'">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Category</mat-label>
              <input matInput [formControlName]="'category'">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Contact</mat-label>
              <input matInput [formControlName]="'contact'">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Alternate Contact</mat-label>
              <input matInput [formControlName]="'altContact'">
              <mat-error>
                Pls enter valid contact no
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" *ngIf="noorganization">
              <mat-label>Organization</mat-label>
              <input matInput [formControlName]="'organization'">
              <mat-error>
                Pls enter organization name
              </mat-error>
            </mat-form-field>

            <div class="gst-wrapper">
              <mat-form-field appearance="outline" *ngIf="noorganization"
                              [ngClass]="{
              'mat-form-field-invalid1': (notvalidgst === 1)
              }">
                <mat-label>GST</mat-label>
                <input matInput [formControlName]="'gst'">
                <mat-error *ngIf="!notvalidgst">
                  Pls enter valid GST NO.
                </mat-error>
              </mat-form-field>
              <div class="custom-mat-error" *ngIf="(notvalidgst === 1) && form.get('gst').touched">
                Pls enter valid GST NO.
              </div>
            </div>


            <mat-form-field appearance="outline">
              <mat-label>State</mat-label>
              <mat-select [formControlName]="'state'" disableOptionCentering [panelClass]="'dropdown-position-bottom'">
                <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Country</mat-label>
              <input matInput [formControlName]="'country'">
            </mat-form-field>

            <mat-form-field appearance="outline" [ngStyle]="{
              minWidth: '30rem'
              }">
              <mat-label>Address</mat-label>
              <textarea matInput [formControlName]="'address'"></textarea>
            </mat-form-field>

          </div>

        </mat-expansion-panel>

        <mat-expansion-panel #a2>

          <mat-expansion-panel-header>

            <mat-panel-title>

              <h2>Market Segment</h2>

            </mat-panel-title>

            <mat-panel-description>
              <mat-icon>
                {{a2.expanded ? 'remove' : 'add'}}
              </mat-icon>
            </mat-panel-description>

          </mat-expansion-panel-header>

          <div id="market-segment-wrapper">

            <div id="market-segment">

              <mat-checkbox [formControlName]="'focheck'" [color]="'primary'">Futures & Options</mat-checkbox>
              <mat-form-field appearance="outline">
                <mat-label>DateTimeFrame</mat-label>
                <mat-select [formControlName]="'fodtf'">
                  <mat-option [value]="''">Select FO Datatype</mat-option>
                  <mat-option value="tick">tick</mat-option>
                  <mat-option value="60sec">60sec</mat-option>
                  <mat-option value="sec">sec</mat-option>
                </mat-select>
                <mat-error>
                  Pls select DatatypeFrame
                </mat-error>
              </mat-form-field>

              <mat-checkbox [formControlName]="'cmcheck'" [color]="'primary'">Cash Market</mat-checkbox>
              <mat-form-field appearance="outline">
                <mat-label>DateTimeFrame</mat-label>
                <mat-select [formControlName]="'cmdtf'">
                  <mat-option value="">Select CM Datatype</mat-option>
                  <mat-option value="tick">tick</mat-option>
                  <mat-option value="60sec">60sec</mat-option>
                  <mat-option value="sec">sec</mat-option>
                </mat-select>
                <mat-error>
                  Pls select DatatypeFrame
                </mat-error>
              </mat-form-field>

              <mat-checkbox [formControlName]="'greekcheck'" [color]="'primary'">GREEKS</mat-checkbox>
              <mat-form-field appearance="outline">
                <mat-label>DateTimeFrame</mat-label>
                <mat-select [formControlName]="'greekdtf'">
                  <mat-option value="">Select GREEKS Datatype</mat-option>
                  <mat-option value="tick">tick</mat-option>
                  <mat-option value="60sec">60sec</mat-option>
                  <mat-option value="sec">sec</mat-option>
                </mat-select>
                <mat-error>
                  Pls select DatatypeFrame
                </mat-error>
              </mat-form-field>

            </div>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel #a3>

          <mat-expansion-panel-header>

            <mat-panel-title>

              <h2>Payment Details</h2>

            </mat-panel-title>

            <mat-panel-description>
              <mat-icon>
                {{a3.expanded ? 'remove' : 'add'}}
              </mat-icon>
            </mat-panel-description>

          </mat-expansion-panel-header>

          <div id="payment-details-wrapper">

            <div id="payment-details">

              <mat-form-field appearance="outline">
                <mat-label>Payment Date</mat-label>
                <input matInput [matDatepicker]="picker" [formControlName]="'paymentDate'">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>
                  Pls select payment date
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Currency</mat-label>
                <mat-select [formControlName]="'paymentType'" disableOptionCentering
                            [panelClass]="'dropdown-position-bottom'">
                  <mat-option value="INR">INR</mat-option>
                  <mat-option value="USD">USD</mat-option>
                </mat-select>
                <mat-error>
                  Pls select currency
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Payment Amt</mat-label>
                <input matInput [formControlName]="'paymentAmt'">
                <mat-error>
                  Pls enter valid amount
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>UTR/SWIFT Details</mat-label>
                <input matInput [formControlName]="'utr/swift-details'">
                <mat-error>
                  Pls enter valid UTR details
                </mat-error>
              </mat-form-field>


            </div>
          </div>

          <div id="doc-type-wrapper">

            <div id="doc-type">

              <mat-form-field appearance="outline">
                <mat-label>Document Type</mat-label>
                <mat-select [formControlName]="'documentType'" disableOptionCentering
                            [panelClass]="'dropdown-position-bottom'">
                  <mat-option value="agreement">Agreement</mat-option>
                  <mat-option value="undertaking">Undertaking</mat-option>
                </mat-select>
                <mat-error>
                  Pls select doc type
                </mat-error>
              </mat-form-field>

              <div class="existing-file-wrapper"
                   *ngIf="(prop2.geteditrtadetailsdata()?.approval_status === 'Data Uploaded')">
                <mat-form-field appearance="outline">
                  <mat-label>Existing File</mat-label>
                  <input matInput
                         [value]="prop3.existingfile">

                </mat-form-field>
                <a mat-icon-button [color]="'primary'" [href]="filedata?.file_url"
                   [download]="prop2.geteditrtadetailsdata()?.docs[prop2.getrtadetailsubmit()?.file_category]"
                   [matTooltip]="'Download file'">
                  <mat-icon>
                    download
                  </mat-icon>
                </a>
                <button mat-icon-button [color]="'primary'" [matTooltip]="'Upload new file'" type="button"
                        (click)="addcontrolfileinput()"
                        *ngIf="!addnewfile">
                  <mat-icon>
                    file_upload
                  </mat-icon>
                </button>
              </div>

              <div class="custom-file" *ngIf="(prop2.geteditrtadetailsdata()?.approval_status !== 'Data Uploaded') || addnewfile">
                <input type="file" class="custom-file-input" [formControlName]="'uploadFile'"
                       (change)="filevalue($event)" id="selected-file">
                <label
                  for="selected-file" class="custom-file-label">{{selectedfile || 'Choose file...'}}</label>

                <div class="invalid-feedback" *ngIf="file && bigfile">PDF file exceeds more than 7MB</div>
              </div>

<!--              <div class="custom-file" *ngIf="( prop2.getrta() && prop2.getrta()['file-name'])">-->
<!--                <input type="file" class="custom-file-input" [formControlName]="'uploadFile'"-->
<!--                       (change)="filevalue($event)">-->
<!--                <label-->
<!--                  class="custom-file-label">{{ (form.get('uploadFile').value.split('\\')[form.get('uploadFile').value.split('\\').length - 1]).slice(0, 25) || (prop2.getrta()["file-name"]) || 'Choose file...'}}</label>-->
<!--                <div class="invalid-feedback" *ngIf="file && bigfile">PDF file exceeds more than 7MB</div>-->
<!--              </div>-->

<!--              <div class="custom-file"-->
<!--                   *ngIf="(!(prop2.geteditrtadetailsdata()?.approval_status === 'Data Uploaded')) || addnewfile">-->
<!--                <input type="file" class="custom-file-input" [formControlName]="'uploadFile'"-->
<!--                       (change)="filevalue($event)">-->
<!--                <label-->
<!--                  class="custom-file-label">{{prop2.geteditrtadetailsdata().docs[this.prop2.getrtadetailsubmit()?.file_category] || 'Choose file...'}}</label>-->
<!--                <div class="invalid-feedback" *ngIf="file && bigfile">PDF file exceeds more than 7MB</div>-->
<!--              </div>-->

            </div>


          </div>

        </mat-expansion-panel>

      </mat-accordion>


      <div id="button-wrapper">

        <button mat-raised-button [color]="'primary'" type="submit"
                *ngIf="!(prop2.geteditrtadetailsdata()?.approval_status === 'Data Uploaded')"
                [disabled]="((!(form.get('focheck').value || form.get('cmcheck').value || form.get('greekcheck').value) || form.invalid) || (bigfile === true) || (notvalidgst === 1))">
          Confirm
        </button>

        <button mat-raised-button [color]="'primary'" type="submit"
                *ngIf="(prop2.geteditrtadetailsdata()?.approval_status === 'Data Uploaded')"
                [disabled]="((!(form.get('focheck').value || form.get('cmcheck').value || form.get('greekcheck').value) || form.invalid) || (bigfile === true))">
          Confirm1
        </button>


      </div>


    </form>

  </div>
</div>


<div class="error-wrapper" *ngIf="showerror">
  <div class="left-section">
    <mat-icon [color]="'warn'">cancel</mat-icon>
  </div>
  <div class="right-section">
    <h3>Error</h3>
    <p>{{errormsg}}</p>
  </div>
</div>

