.dialog-wrapper {
  text-align: center;

  h2 {
    font-size: 1rem;
  }

  .mat-dialog-content {

    p {
      font-size: 1rem;
      a {
        text-decoration: none;
        font-weight: 700;
        color: #3a2d7d;
      }
    }

  }

  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
