<div class="forgot-password-wrapper">

  <div class="top-section">
    <h2>Change Password?</h2>

  </div>

  <form [formGroup]="form">

    <div class="form-group">

      <mat-form-field appearance="outline" [color]="'primary'">
        <mat-label>Old Password</mat-label>
        <input matInput placeholder="Old Password" [formControlName]="'oldpassword'" type="password">
        <mat-icon matPrefix>lock</mat-icon>
        <mat-error *ngIf="(form.get('oldpassword').touched) && form.get('oldpassword').hasError('required')">
          <span>Old Password is required</span>
          <mat-icon>report_problem</mat-icon>
        </mat-error>
      </mat-form-field>

    </div>

    <div class="form-group">
      <mat-form-field appearance="outline" [color]="'primary'">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="New Password" [formControlName]="'newpassword'" type="password">
        <mat-icon matPrefix>lock</mat-icon>

        <mat-error *ngIf="(form.get('newpassword').touched) && (form.get('newpassword').hasError('minlength') || form.get('newpassword').hasError('required'))">
          <span>must be at least 8 characters</span>
          <mat-icon>report_problem</mat-icon>
        </mat-error>

        <mat-error *ngIf="(form.get('newpassword').touched) && form.get('newpassword').hasError('nolowercase')">
          <span>lowercase letter is required</span>
          <mat-icon>report_problem</mat-icon>
        </mat-error>

        <mat-error *ngIf="(form.get('newpassword').touched) && form.get('newpassword').hasError('nouppercase')">
          <span>uppercase letter is required</span>
          <mat-icon>report_problem</mat-icon>
        </mat-error>

        <mat-error *ngIf="(form.get('newpassword').touched) && form.get('newpassword').hasError('nodigit')">
          <span>digit is required</span>
          <mat-icon>report_problem</mat-icon>
        </mat-error>

        <mat-error *ngIf="(form.get('newpassword').touched) && form.get('newpassword').hasError('nospecialchar')">
          <span>special character is required</span>
          <mat-icon>report_problem</mat-icon>
        </mat-error>

      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline" [color]="'primary'">
        <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="New Password" [formControlName]="'confirmpassword'" type="password">
        <mat-icon matPrefix>lock</mat-icon>
        <mat-error *ngIf="(form.get('confirmpassword').touched) && form.get('confirmpassword').hasError('required')">
          <span>password is required</span>
          <mat-icon>report_problem</mat-icon>
        </mat-error>
        <mat-error *ngIf="(form.get('confirmpassword').touched) && form.get('confirmpassword').hasError('notsame')">
          <span>both passwords must match</span>
          <mat-icon>report_problem</mat-icon>
        </mat-error>
      </mat-form-field>
    </div>

    <button type="submit" mat-flat-button [color]="'primary'" (click)="emailSent = true" [disabled]="form.invalid">
      Submit
    </button>

  </form>


</div>

<div class="check-email-wrapper" *ngIf="emailSent" [@animation1]="'state1'">
  <h2>Check Your Email</h2>
  <p>We have sent password recovery instruction to your email</p>
  <button mat-flat-button [color]="'primary'" [routerLink]="['/change-password']">Ok</button>
</div>

