<div class="container">


  <app-desktop-header
    *ngIf="prop4.getloginuserdata()?.status && (prop4.getoption() === 'rta' || prop4.getoption() === 'historical') && !prop1.isSmallScreen && (!location.path().includes('login') && location.path() !== '/')"
    (openNav)="sidenav.toggle()"></app-desktop-header>

  <app-mobile-header
    *ngIf="prop4.getloginuserdata()?.status && (prop4.getoption() === 'rta' || prop4.getoption() === 'historical') && prop1.isSmallScreen && (!location.path().includes('login') && location.path() !== '/')"
    (openNav)="sidenav.toggle()"></app-mobile-header>

<!--  <app-mobile-header-->
<!--    (openNav)="sidenav.toggle()"></app-mobile-header>-->

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav>

      <div class="sidenav-wrapper">

        <a class="nav-link" mat-button matPrefix
           appDirective1 [option]="'rta'" [pointer]="sidenav">
          <mat-icon>analytics</mat-icon>
          <span>Real Time Data Analytics</span>
        </a>
        <a class="nav-link" mat-button
           appDirective1 [option]="'historical'" [pointer]="sidenav">
          <mat-icon>storage</mat-icon>
          <span>Historical Data</span>
        </a>

      </div>


    </mat-sidenav>

    <mat-sidenav-content>

      <div [ngStyle]="{
          height: '100%'
          }">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>


</div>

