.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;

  .sidenav-container {
    height: 100%;
    width: 100%;

    .sidenav-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      min-width: 18rem;
      padding: 1rem;

      .nav-link {
        text-decoration: none;
        color: #212121 !important;
        text-transform: capitalize;
        text-align: left;
        margin-bottom: 1rem;

        &.active {
          color: #fdb130 !important;
        }

        span {
          display: inline-block;
          margin-left: 1rem;
        }
      }
    }
  }
}
