<div class="container">

  <div class="logo-wrapper">
    <img src="../../../assets/images/nse-logo.jpg" alt="NSE India" title="NSE India, National Stock Exchange">
  </div>

  <nav class="nav-links-wrapper">
    <a [routerLink]="['/client']" class="nav-link" mat-button [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Edit Details</a>
    <a [routerLink]="['/client', 'status']" class="nav-link" mat-button [routerLinkActive]="'active'">Status</a>

    <a [matMenuTriggerFor]="adminName" class="nav-link dropdown" mat-button>
      <!--      <span>{{loginUser?.email}}</span>-->
      <mat-icon>keyboard_arrow_down</mat-icon>
    </a>
    <mat-menu #adminName="matMenu" xPosition="before">
      <a mat-menu-item class="nav-link" [routerLink]="['/login', 'change-password']" class="nav-link">Change Password</a>
      <a mat-menu-item class="nav-link">Logout</a>
    </mat-menu>

  </nav>

</div>
