<div class="forgot-password-wrapper">

  <div class="top-section">
    <h2>Change Password?</h2>

  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-group">

      <mat-form-field appearance="outline" [color]="'primary'">
        <mat-label>Old Password</mat-label>
        <input matInput placeholder="Old Password" [formControlName]="'oldpassword'" [type]="showPassword ? 'text' : 'password'">
        <mat-icon matPrefix>lock</mat-icon>
        <button mat-icon-button matSuffix (click)="showPassword = !showPassword" type="button">
          <mat-icon>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>

        <mat-error *ngIf="(form.get('oldpassword').touched) && form.get('oldpassword').hasError('required')">
          <span>Old Password is required</span>
          <mat-icon>report_problem</mat-icon>
        </mat-error>

      </mat-form-field>

    </div>

    <div class="form-group">
      <mat-form-field appearance="outline" [color]="'primary'">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="New Password" [formControlName]="'newpassword'" [type]="showPassword1 ? 'text' : 'password'">
        <mat-icon matPrefix>lock</mat-icon>
        <button mat-icon-button matSuffix (click)="showPassword1 = !showPassword1" type="button">
          <mat-icon>{{showPassword1 ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>

        <mat-error
          *ngIf="(form.get('newpassword').touched) && (form.get('newpassword').hasError('minlength') || form.get('newpassword').hasError('required'))">
          <span>Must be at least 8 characters</span>
          <mat-icon>report_problem</mat-icon>
        </mat-error>

        <mat-error *ngIf="(form.get('newpassword').touched) && form.get('newpassword').hasError('nolowercase')">
          <span>Lowercase letter is required</span>
          <mat-icon>report_problem</mat-icon>
        </mat-error>

        <mat-error *ngIf="(form.get('newpassword').touched) && form.get('newpassword').hasError('nouppercase')">
          <span>Uppercase letter is required</span>
          <mat-icon>report_problem</mat-icon>
        </mat-error>

        <mat-error *ngIf="(form.get('newpassword').touched) && form.get('newpassword').hasError('nodigit')">
          <span>Digit is required</span>
          <mat-icon>report_problem</mat-icon>
        </mat-error>

        <mat-error *ngIf="(form.get('newpassword').touched) && form.get('newpassword').hasError('nospecialchar')">
          <span>Special character is required</span>
          <mat-icon>report_problem</mat-icon>
        </mat-error>

      </mat-form-field>
      <div class="mat-success"
           *ngIf="!((form.get('newpassword').hasError('minlength')) || form.get('newpassword').hasError('required'))">
        <span>8 characters added</span>
        <mat-icon>check_circle</mat-icon>
      </div>
      <div class="mat-success"
           *ngIf="!(form.get('newpassword').hasError('nolowercase'))">
        <span>Lowercase characters added</span>
        <mat-icon>check_circle</mat-icon>
      </div>
      <div class="mat-success"
           *ngIf="!(form.get('newpassword').hasError('nouppercase'))">
        <span>Uppercase characters added</span>
        <mat-icon>check_circle</mat-icon>
      </div>
      <div class="mat-success"
           *ngIf="!(form.get('newpassword').hasError('nodigit'))">
        <span>Digits characters added</span>
        <mat-icon>check_circle</mat-icon>
      </div>
      <div class="mat-success"
           *ngIf="!(form.get('newpassword').hasError('nospecialchar'))">
        <span>Special characters added</span>
        <mat-icon>check_circle</mat-icon>
      </div>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline" [color]="'primary'">
        <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="New Password" [formControlName]="'confirmpassword'" [type]="showPassword2 ? 'text' : 'password'">
        <mat-icon matPrefix>lock</mat-icon>
        <button mat-icon-button matSuffix (click)="showPassword2 = !showPassword2" type="button">
          <mat-icon>{{showPassword2 ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
        <mat-error *ngIf="(form.get('confirmpassword').dirty || form.get('confirmpassword').touched) && form.get('confirmpassword').hasError('required')">
          <span>password is required</span>
          <mat-icon>report_problem</mat-icon>
        </mat-error>
        <mat-error *ngIf="(form.get('confirmpassword').dirty || form.get('confirmpassword').touched) && form.get('confirmpassword').hasError('notsame')">
          <span>both passwords must match</span>
          <mat-icon>report_problem</mat-icon>
        </mat-error>
      </mat-form-field>
      <div class="mat-success"
           *ngIf="!(form.get('confirmpassword').hasError('notsame')) && !form.get('confirmpassword').hasError('required') && (form.get('confirmpassword').dirty || form.get('confirmpassword').touched)">
        <span>Password matches</span>
        <mat-icon>check_circle</mat-icon>
      </div>
    </div>

    <button type="submit" mat-flat-button [color]="'primary'" (click)="emailSent = true" [disabled]="form.invalid">
      Submit
    </button>

  </form>


</div>

<div class="error-wrapper" *ngIf="showerror">
  <div class="left-section">
    <mat-icon [color]="'warn'">cancel</mat-icon>
  </div>
  <div class="right-section">
    <h3>Error</h3>
    <p>{{errormsg}}</p>
  </div>
</div>

<div class="success-wrapper" *ngIf="showsuccess">
  <div class="left-section">
    <mat-icon>check_circle</mat-icon>
  </div>
  <div class="right-section">
    <h3>Success</h3>
    <p>{{successmsg}}</p>
  </div>
</div>
